body {
  background: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: rgb(34, 104, 233);
  position: fixed;
  top: 76px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.top {
  display: flex;
  align-items: center;
  gap: 50px;
}

.arrow {
  height: 100px;
  cursor: pointer;
}

.left {
  transform: rotate(180deg);
}

.frame {
  display: flex;
  height: 400px;
  width: 600px;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: all 1s ease;
}

.images {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  flex-shrink: 0;
}

.bottom {
  display: flex;
  gap: 50px;
}

.button {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: solid 1px white;
}
